:root{
  --color01-h1:#ff514b;
  --color02-headerBack: rgba(15, 15, 15, 0.8) 0%,rgba(27, 28, 29, 0.8) 40%, rgba(98,100,102,0.8) 60%, rgba(10, 10, 10, 0.8) 100%;
  --color03-bodyBack: linear-gradient(135deg, rgba(98,100,102,1) 0%, rgba(6,59,96,1)100%);
  --color04-navButton:rgb(219, 244, 255);
  --color05-hamburger:rgb(167, 205, 221);
  --color06-mainBack:rgba(220, 220, 230, 0.9);
  --color07-footerBack:rgba(107, 107, 107, 0.7) ;
  --color08-footerFont:#ccc;
  --color09-secBlock:rgba(255, 255, 255, 0.9);

  --defaultFontSize:clamp(23px,3vmax,38px);
  --menuFontSize:clamp(15px,2.5vw,25px);
}
*{
  margin: 0;
  padding: 0;
}
body{
  max-width: 1600px;
  font-size: var(--defaultFontSize);
  background: var(--color03-bodyBack);
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
@font-face {
    font-family: GAU Love Rocket;
    src: url(material/GAU_Love_Rocket.ttf);
}
#header{
  max-width: 1600px;
  top:0;
  padding: 1em 0 0 0;
  position: fixed;
  width: 100%;
  background-image: -webkit-linear-gradient(315deg, var(--color02-headerBack));
  background-image: linear-gradient(135deg, var(--color02-headerBack));
}
footer{
  padding: 0.3em 0 0.7em 0;
  color: var(--color08-footerFont);
  background-color: var(--color07-footerBack);
  font-size: 0.5em;
  text-align: center;
}
a.footer{
  color: var(--color08-footerFont);
  text-decoration: none;
  font-size: 1.3em;
}
h1{
  font-size: 1.1em;
  margin: 0 0 0 0;
  padding: 0 0.3em 0.4em 1em;
  font-family: GAU Love Rocket ;
}
h1 a{
  color:var(--color01-h1);
  text-decoration: none;
}
nav.nowrap{
  white-space:nowrap;
	overflow-x: auto;
}
nav button{
  margin: 0.3em 0;
  padding: 0.8em;
  background-color: transparent;
  font-family: Meiryo UI ;
  border-color: rgba(255, 255, 255, 0.562) ;
  font-weight:bold;
  font-size: var(--menuFontSize);
  color: var(--color04-navButton);
}
nav button:hover{
  background-color: rgba(255, 255, 255, 0.562);
}
.inlineBlockBw{
  padding: 0 0.4em;
  display: flex;
  justify-content: space-between;
}
nav hr{
  border-top: 0.15em solid var(--color05-hamburger);
  width: 1.2em;
  margin: 0.2em 0;
}
nav.hamburgerMenu{
  margin: -1em 0 0 0;
  padding: 1em 0 0 0;
  display: block;
  position: fixed;
  background-color: #fff;
  right: -10em;
  height: 100%;
  /* bottom: 0; */
  transition: all 0.3s;
  z-index: 3;
  /* opacity: 0; */
}
nav.hamburgerMenu:target{
  right: 0;
}
nav.hamburgerMenu a.menuClose{
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
  transition: all 0.3s;
}
nav.hamburgerMenu:target a.menuClose{
  right: 10em;
}
nav .inner{
  padding: 1.5em;
}
nav .inner p{
  margin: 0;
  padding: 0.2em;
}
p.close{
  text-align: right;
}
p.close a{
  padding: 0.2em 0.4em;
  width: auto;
  right: 0;
  color: #fff;
  border-radius: 50% ;
  font-size: 1.7em;
  text-decoration: none;
  background-color: #666;

}
p.close a:hover{
  background-color: #bbb;
}
nav .inner p a.menu{
  display: block;
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #333;
  text-decoration: none;
  color: #333;
  transition-duration: 0.2s;
}
nav .inner p a.menu:hover{
  background-color: #e4e4e4;
}
main{
  margin: 6.2em 0.3em 0.3em 0.3em;
  padding: 0.1em 0.1em 1em 0.1em;
  min-height: 70vh;
  background-color: var(--color06-mainBack);
}
main p{
  margin: 0.5em;
}
.privacyPolicy{
  margin: 1.5em;
  font-size: 0.8em;
  padding: 1.2em;
  background-color: var(--color09-secBlock);
  border-radius: 2em ;
}
.privacyPolicy h3{
  font-size: 1.2em;
  margin: 2em 0 0 0;
}