#right{
    width: 280px;
    font-size: 19px;
    padding: 6px;
    background-color: rgb(222, 236, 241);
    vertical-align:top;
    margin-top: 1em;

}
#center{
    width: 14em;
    vertical-align:top;
}
.numpre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
table.outside{
    background-color: #4f71ce;
    margin-left: -0.5em;
}
table.inside{
    border-collapse:  collapse;
}
table.inside th{
    table-layout:fixed;
    width: 1.4em;
    height: 1.4em;
    border: 2px  #4f71ce solid;
    background-color: #fff;
    text-align: center;
    align-items: center;
    line-height:0;
}
.iptN{
    font-size: 1em;
    padding: 0 0.07em;
    margin: 0 0.1em;
    border: 2px  #4f71ce solid;
    background-color:  #5b7bd4;
    color: #fff;
}
.iptN:hover{
    background-color: rgb(248, 184, 232);
    color: darkblue;
}
#run,#numpreMsg{
    text-align: center;
}
.numMk{
    background-color: rgb(248, 184, 232);
    color: darkblue;
}